.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--background-item);
  color: var(--text-light);
  border: 2px solid var(--border-main);
  border-radius: 4px;
  height: 45px;
  padding: 5px 10px;
  transition: all 0.3s;
  gap: 8px;
}

.inputGroup > svg {
  width: 20px;
  height: 20px;
  fill: var(--border-main);
}

.inputGroup:focus-within {
  outline: none;
  color: var(--text-main);
  background: white;
}

.inputGroup:focus-within > svg {
  fill: var(--border-focus);
}

/* Поле ввода */
.input {
  width: 100%;
  background: transparent;
  border: none;
  color: var(--text-light);
  outline: none;
  font-size: 17px;
  font-weight: 500;
}

input::placeholder {
  color: var(--text-placeholder);
}

.input::placeholder {
  width: 100%;
  color: var(--text-light);
}

.input:focus {
  color: var(--text-main);
}
