:root {
  --content-width: 1140px;

  /* --border-main: #a18d8c; */
  --border-main: #b1b4c3;
  --border-focus: #7e818c;
  --focus-background: #ffffff;
  --background-item: #f4f4f9;
  --item-hover: #596aa7;
  /* --background-item: #e2e2ee; */
  /* --background-item: #d8ccd0; */
  /* --background-main: #b1b4c3; */
  --background-main: #e2e2ee;
  --text-main: #828189;
  --text-dark: #646770;
  --text-light: #7e818c;
  --text-button: #e2e2ee;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background: var(--background-main);
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0;
}

@media screen and (max-width: 1172px) {
  main {
    max-width: none;
    margin: 20px 16px;
  }
}
